ruleset {
    description '''
        A Sample Groovy RuleSet containing all CodeNarc Rules, grouped by category.
        You can use this as a template for your own custom RuleSet.
        Just delete the rules that you don't want to include.

        Default active rules is a set that is used in Accelerator projects. Feel free to create your own sets.

        Available rules revised at 3.2.0 version of codenarc: https://github.com/CodeNarc/CodeNarc/blob/master/CHANGELOG.md
        '''

    // rulesets/basic.xml
    AssignmentInConditional
    BigDecimalInstantiation
    BitwiseOperatorInConditional
    BooleanGetBoolean
    BrokenNullCheck
    BrokenOddnessCheck
    ComparisonOfTwoConstants
    ComparisonWithSelf
    ConstantIfExpression
    ConstantTernaryExpression
    DeadCode
    DoubleNegative
    DuplicateCaseStatement
    DuplicateMapKey
    DuplicateSetValue
    EmptyCatchBlock
    EmptyClass
    EmptyElseBlock
    EmptyFinallyBlock
    EmptyForStatement
    EmptyIfStatement
    EmptyMethod

    EmptySwitchStatement
    EmptySynchronizedStatement
    EmptyTryBlock
    EmptyWhileStatement
    ForLoopShouldBeWhileLoop
    IntegerGetInteger
    MultipleUnaryOperators
    ParameterAssignmentInFilterClosure
    RandomDoubleCoercedToZero
    RemoveAllOnSelf
    ReturnFromFinallyBlock
    ThrowExceptionFromFinallyBlock

    // rulesets/braces.xml
    ElseBlockBraces
    ForStatementBraces
    IfStatementBraces
    WhileStatementBraces

    // rulesets/comments.xml
    JavadocConsecutiveEmptyLines
    JavadocEmptyExceptionTag
    JavadocEmptyFirstLine
    JavadocEmptyLastLine
    JavadocEmptyParamTag
    JavadocEmptyReturnTag
    JavadocEmptySeeTag
    JavadocEmptyThrowsTag
    JavadocMissingExceptionDescription
    JavadocMissingParamDescription
    JavadocMissingThrowsDescription

    // rulesets/concurrency.xml

    // rulesets/convention.xml
    ConfusingTernary
    CouldBeElvis
    CouldBeSwitchStatement
    HashtableIsObsolete
    IfStatementCouldBeTernary
    ImplicitClosureParameter {
        allowUsingItAsParameterName = true
    }

    ImplicitReturnStatement
    InvertedCondition
    InvertedIfElse
    LongLiteralWithLowerCaseL
    MethodParameterTypeRequired
    MethodReturnTypeRequired {
        ignoreMethodNames = "* *" // Skip checking unit test method names. Most of test cases have spaces in names so it should be good enough.
    }
     NoDef {
        priority = 3 // Low priority, because sometimes we don't know type from Core (but we should request it!)
        doNotApplyToFileNames = '*Test.groovy'
    }
    NoDouble
    NoFloat
    // NoJavaUtilDate // We can't use the suggested java.time.* package either way
    NoTabCharacter
    ParameterReassignment
    PublicMethodsBeforeNonPublicMethods
    TernaryCouldBeElvis
    VariableTypeRequired {
        priority = 3 // Same as NoDef
        doNotApplyToFileNames = '*Test.groovy'
    }
    VectorIsObsolete

    // rulesets/design.xml
    AssignmentToStaticFieldFromInstanceMethod
    BooleanMethodReturnsNull
    ImplementationAsType
    NestedForLoop
    OptionalCollectionReturnType
    OptionalField
    OptionalMethodParameter
    ReturnsNullInsteadOfEmptyArray
    ReturnsNullInsteadOfEmptyCollection

    // rulesets/dry.xml
    DuplicateListLiteral {
        doNotApplyToFileNames = '*ConstConfig.groovy,*ConstConfigs.groovy'
        priority = 3
    }
    DuplicateMapLiteral {
        doNotApplyToFileNames = '*ConstConfig.groovy,*ConstConfigs.groovy'
        priority = 3
    }
    DuplicateStringLiteral  {
        doNotApplyToFileNames = '*ConstConfig.groovy,*ConstConfigs.groovy'
        priority = 3
    }

    // rulesets/enhanced.xml

    // rulesets/exceptions.xml
    CatchArrayIndexOutOfBoundsException {
        doNotApplyToFileNames = '*Test.groovy'
    }
    CatchError {
        doNotApplyToFileNames = '*Test.groovy'
    }
    CatchException {
        doNotApplyToFileNames = '*Test.groovy'
    }
    CatchIndexOutOfBoundsException {
        doNotApplyToFileNames = '*Test.groovy'
    }
    CatchNullPointerException {
        doNotApplyToFileNames = '*Test.groovy'
    }
    CatchRuntimeException {
        doNotApplyToFileNames = '*Test.groovy'
    }
    CatchThrowable {
        doNotApplyToFileNames = '*Test.groovy'
    }
    ExceptionNotThrown {
        doNotApplyToFileNames = '*Test.groovy'
    }
    ReturnNullFromCatchBlock {
        priority = 3
    }

    // rulesets/formatting.xml
    BlankLineBeforePackage
    BlockEndsWithBlankLine
    BlockStartsWithBlankLine
    BracesForClass
    BracesForForLoop
    BracesForIfElse
    BracesForMethod
    BracesForTryCatchFinally
    ClosureStatementOnOpeningLineOfMultipleLineClosure
    ConsecutiveBlankLines
    FileEndsWithoutNewline
    LineLength {
        priority = 3
        length = 160 // default 120 seems to be very strict, especially our "tab" is formatted to 4 spaces instead of 2
        doNotApplyToFileNames = '*Test.groovy'
    }
    MissingBlankLineAfterImports
    MissingBlankLineAfterPackage
    MissingBlankLineBeforeAnnotatedField
    SpaceAfterMethodCallName
    SpaceAfterMethodDeclarationName
    SpaceAfterNotOperator
    SpaceAfterCatch
    SpaceAfterClosingBrace
    SpaceAfterComma
    SpaceAfterFor
    SpaceAfterIf
    SpaceAfterOpeningBrace
    SpaceAfterSemicolon
    SpaceAfterSwitch
    SpaceAfterWhile
    SpaceAroundClosureArrow
    SpaceAroundOperator
    SpaceBeforeClosingBrace
    SpaceBeforeOpeningBrace
    SpaceInsideParentheses
    TrailingWhitespace


    // rulesets/generic.xml
    // IllegalClassMember
    // IllegalClassReference
    // IllegalPackageReference
    // IllegalRegex
    IllegalString {
        name = 'PrivateAccessModifier'
        string = 'private '
    }
    IllegalString {
        name = 'AssertKeyword'
        string = ' assert '
        doNotApplyToFileNames = '*Test.groovy'
    }
    IllegalString {
        name = 'ThrowKeyword'
        string = 'throw new'
        doNotApplyToFileNames = '*Test.groovy'
    }
    IllegalString {
        name = 'CallToApiTrace'
        string = 'api.trace('
    }
    IllegalString {
        name = 'CallToApiLogInfo'
        string = 'api.logInfo('
    }
    // IllegalSubclass
    // RequiredRegex
    // RequiredString

    // rulesets/grails.xml

    // rulesets/groovyism.xml
    AssignCollectionSort
    AssignCollectionUnique
    ClosureAsLastMethodParameter
    CollectAllIsDeprecated
    ConfusingMultipleReturns
    ExplicitArrayListInstantiation
    ExplicitCallToCompareToMethod
    ExplicitCallToDivMethod
    ExplicitCallToLeftShiftMethod
    ExplicitCallToMinusMethod
    ExplicitCallToModMethod
    ExplicitCallToMultiplyMethod
    ExplicitCallToPlusMethod
    ExplicitCallToPowerMethod
    ExplicitCallToPutAtMethod
    ExplicitCallToRightShiftMethod
    ExplicitCallToXorMethod
    ExplicitHashMapInstantiation
    ExplicitHashSetInstantiation
    ExplicitLinkedHashMapInstantiation
    ExplicitLinkedListInstantiation
    ExplicitStackInstantiation
    ExplicitTreeSetInstantiation
    GStringAsMapKey
    GStringExpressionWithinString
    UseCollectMany
    UseCollectNested

    // rulesets/imports.xml
    DuplicateImport
    ImportFromSunPackages
    NoWildcardImports
    UnnecessaryGroovyImport
    UnusedImport

    // rulesets/jdbc.xml

    // rulesets/junit.xml
    ChainedTest
    CoupledTestCase
    SpockIgnoreRestUsed

    // rulesets/logging.xml
    PrintStackTrace
    Println
    SystemErrPrint
    SystemOutPrint

    // rulesets/naming.xml
    ConfusingMethodName
    FieldName {
        regex = "([a-z_][a-zA-Z0-9]*)|([A-Z][A-Z0-9_]*)"
    }
    MethodName {
        doNotApplyToFileNames = '*Test.groovy'
    }
    // ObjectOverrideMisspelledMethodName
    ParameterName {
        regex = "[a-z_][a-zA-Z0-9]*"
    }
    // PropertyName
    VariableName {
        regex = "([a-z_][a-zA-Z0-9]*)|([A-Z][A-Z0-9_]*)"
    }

    // rulesets/security.xml

    // rulesets/serialization.xml

    // rulesets/size.xml
    AbcMetric { // Requires the GMetrics jar
        doNotApplyToFileNames = '*Test.groovy,*Util.groovy,*Utils.groovy,*Manager.groovy'
    }
    ClassSize
    CyclomaticComplexity { // Requires the GMetrics jar
        doNotApplyToFileNames = '*Test.groovy,*Util.groovy,*Utils.groovy,*Manager.groovy'
    }
    MethodCount
    MethodSize
    NestedBlockDepth // Default is 5, but isn't it customary to stop at 3?
    ParameterCount {
        doNotApplyToFileNames = '*Util.groovy,*Utils.groovy,*Manager.groovy'
    }

    // rulesets/unnecessary.xml
    AddEmptyString
    ConsecutiveLiteralAppends
    ConsecutiveStringConcatenation
    UnnecessaryBigDecimalInstantiation
    UnnecessaryBigIntegerInstantiation
    UnnecessaryBooleanExpression {
        doNotApplyToFileNames = '*Test.groovy'
    }
    UnnecessaryBooleanInstantiation
    UnnecessaryCallForLastElement
    UnnecessaryCallToSubstring
    UnnecessaryCast
    UnnecessaryCatchBlock
    UnnecessaryCollectCall {
        priority = 3 // groovism, not really important
    }
    UnnecessaryCollectionCall
    UnnecessaryDotClass
    UnnecessaryDoubleInstantiation
    UnnecessaryElseStatement
    UnnecessaryFloatInstantiation
    UnnecessaryIfStatement
    UnnecessaryInstanceOfCheck
    UnnecessaryInstantiationToGetClass
    UnnecessaryIntegerInstantiation
    UnnecessaryLongInstantiation
    UnnecessaryModOne
    UnnecessaryNullCheck
    UnnecessaryNullCheckBeforeInstanceOf
    UnnecessaryObjectReferences {
        priority = 3 // groovism, not really important
    }
    UnnecessaryPackageReference
    UnnecessaryParenthesesForMethodCallWithClosure
    UnnecessaryPublicModifier
    UnnecessarySafeNavigationOperator
    UnnecessarySelfAssignment
    UnnecessarySemicolon
    UnnecessaryStringInstantiation
    UnnecessaryTernaryExpression
    UnnecessaryToString

    // rulesets/unused.xml
    UnusedArray
    UnusedMethodParameter
    UnusedObject
    UnusedVariable

    // Test only rules:
    EmptyInstanceInitializer {
        applyToFileNames = '*Test.groovy'
    }
    ConfusingClassNamedException {
        applyToFileNames = '*Test.groovy'
    }
    ClassEndsWithBlankLine {
        applyToFileNames = '*Test.groovy'
    }
    ClassStartsWithBlankLine {
        applyToFileNames = '*Test.groovy'
    }
    EmptyStaticInitializer {
        applyToFileNames = '*Test.groovy'
    }
}